<ng-container *ngIf="currentStep === 'image'">
  <app-builder-search-image (next)="handleImage($event)" [image]="image">
  </app-builder-search-image>

  <app-builder-search-tag (next)="handleTag($event)" [imageName]="image" [tag]="tag" *ngIf="image">
  </app-builder-search-tag>
</ng-container>

<ng-container *ngIf="currentStep === 'config'">
  <app-builder-config (previous)="displayImageStep()" (next)="handleReview($event)" [imageName]="image" [logoUrl]="logo"
                      [tag]="tag">
  </app-builder-config>
</ng-container>

<ng-container *ngIf="currentStep === 'review'">
  <app-builder-review [imageName]="image" [logoUrl]="logo" [tag]="tag" [config]="config" (goBack)="displayConfigStep()">
  </app-builder-review>
</ng-container>
