<form [formGroup]="form">
  <div class="general">
    <div>
      <label>
        <input required type="text" name="command" formControlName="base">
        <p>Path inside container</p>
      </label>
      <span *ngIf="baseControl.touched && baseControl.invalid">This field is require and should start with a slash</span>
    </div>

    <div>
      <label>
        <input required type="text" name="value" formControlName="value">
        <p>Path on host</p>
      </label>
      <span *ngIf="valueControl.touched && valueControl.invalid">This field is invalid</span>
    </div>
  </div>

</form>
