<app-builder-steps stepNumber="3"></app-builder-steps>

<div class="container">
  <p class="title">Your configuration is ready !</p>

  <div class="search-block">
    <p>Reminder, you have chosen</p>
    <div class="choose-block">
      <div class="container-chosen">
        <div class="logo"><img [src]="logoUrl" alt=""></div>
        <p class="name">{{imageName}}:{{tag}}</p>
      </div>
    </div>
  </div>
  <div class="actions">
    <app-button class="align__left" type="cta cta__secondary gradient__red with__shadow" size="large" >
      Return to config
    </app-button>
    <app-button class="" type="cta cta__secondary gradient__cyan with__shadow" size="large" >
      Send to github
    </app-button>
  </div>
</div>
