<app-steps stepNumber="1"></app-steps>

<div class="search-block">
  <p>Which docker image should i use ?</p>
  <input type="text" [(ngModel)]="apiSearch" (input)="searchApi()">
</div>



<ng-container *ngIf="customSearch" >
  <div class="list" [ngClass]="{'small': resultSearch.length <= 5 }" *ngIf="resultSearch && resultSearch.length > 0">
    <app-generator-card [element]="element" *ngFor="let element of resultSearch"></app-generator-card>
  </div>
</ng-container>

<ng-container *ngIf="!customSearch" >
  <div class="list" [ngClass]="{'small': resultSearch.length <= 5 }" *ngIf="resultSearch && resultSearch.length > 0">
    <app-generator-card [element]="element" *ngFor="let element of resultSearch"></app-generator-card>
  </div>
</ng-container>
