<input type="text" [(ngModel)]="apiSearch" (input)="searchApi()">

<br>

<span (click)="handleNext(result.name)" *ngFor="let result of resultSearch" style="padding:10px 10px;margin: 10px;width: 150px;height: 150px;background-color: #dadada;display: inline-block;text-align: center;word-break: break-word;">
  {{result.name}}
  <br>Star : {{result.star_count | number}}
  <br>Pull : {{result.pull_count}}
  <br><img src="{{result.logo_url.large ? result.logo_url.large : 'https://d36jcksde1wxzq.cloudfront.net/be7833db9bddb4494d2a7c3dd659199a.png'}}" style="width: 60%;">
</span>
