p {
  display: inline;
  position: relative;
  width: calc(100%);

  &.error {
    input {
      border-color: #f03434;
    }
  }
}

label {
  font-size: 1em;
  display: block;
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 0;
  transition: all ease .2s;
  background: transparent;
  padding: 0;
  margin: 0;
}

input {
  height: 50px;
  line-height: 50px;
  width: 100%;
  border: solid 1px #919191;
  background-color: #fefefe;
  padding: 0 15px;
  box-sizing: border-box;
  border-radius: 4px;

  &:focus, &:valid {
    outline: none;
    border-color: #474747;

    & + label {
      background-color: #fff;
      top: -28px;
      font-size: 0.9em;
      padding: 5px;
    }
  }
}

.error {
  color: #f03434;
}

small {
  display: block;
  margin-top: 4px;
}
