<ng-container *ngFor="let group of groupsData">
  <div class="remove">
    <button (click)="remove(group)">Remove this group</button>
  </div>
  <div class="group">
    <app-builder-form-group-title [(label)]="group.label" [editing]="group.editing"></app-builder-form-group-title>

    <hr>

    <div class="fields">
      <div *ngFor="let field of group.fields">
        <ng-template appGeneratorFormField [appFormField]="field"></ng-template>
      </div>

      <app-builder-fields-new (click)="openPopIn(group)"></app-builder-fields-new>
    </div>
  </div>
</ng-container>
