<ng-container *ngFor="let group of groupsData; let i = index;">
  <div class="remove">
    <button (click)="remove(group)">Remove this group</button>
  </div>
  <div class="group">
    <app-builder-form-group-title [(label)]="group.label" [editing]="group.editing"></app-builder-form-group-title>

    <hr>

    <div class="fields">
      <div *ngFor="let field of group.fields" [ngClass]="{'highlight': overlayVisible}" [attr.data-field]="field.id">
        <ng-template appGeneratorFormField [appFormField]="field"></ng-template>
      </div>

      <app-builder-fields-new (click)="openPopIn(group)"></app-builder-fields-new>
    </div>

    <div class="action">
      <p *ngIf="isEditing" [ngClass]="{'highlight': overlayVisible}">Which element do you want to edit ?</p>
      <p *ngIf="isRemoving" [ngClass]="{'highlight': overlayVisible}">Which element do you want to remove ?</p>
      <fa-icon [icon]="editIcon" [size]="'2x'" (click)="handleEdit(i)"
               [ngClass]="{'highlight': overlayVisible && isEditing}"></fa-icon>
      <fa-icon [icon]="deleteIcon" [size]="'2x'" (click)="handleRemove(i)"
               [ngClass]="{'highlight': overlayVisible && isRemoving}"></fa-icon>
    </div>
  </div>
</ng-container>

<div class="overlay" *ngIf="overlayVisible"></div>

