<div class="popin">
  <div class="header">
    <p class="title">Add an element</p>
    <fa-icon [icon]="faExit" (click)="this.handleClose()"></fa-icon>
  </div>
  <hr>
  <div class="body">
    <form (submit)="handleSubmit($event)" [formGroup]="formGroup">
      <p>
        <label>
          Input title
          <input type="text" name="title" [formControl]="labelControl">
        </label>
      </p>

      <p>
        <label>
          Destination
          <select name="destination" [formControl]="destinationControl">
            <option *ngFor="let option of destinationOptions" [value]="option.value">{{option.label}}</option>
          </select>
        </label>
      </p>

      <p>
        <label>
          Type
          <select name="type" [formControl]="typeControl">
            <option *ngFor="let option of typeOptions" [value]="option.value">{{option.label}}</option>
          </select>
        </label>
      </p>

      <button>Save</button>
    </form>
  </div>
</div>
