  <div class="popin">
  <div class="header">
    <p class="title">Add an element</p>
    <fa-icon [icon]="faExit" (click)="this.handleClose()"></fa-icon>
  </div>
  <hr>
  <div class="body">
    <form (submit)="handleSubmit($event)" [formGroup]="formGroup">
      <div class="general">

        <p>
          <label>
            <input type="text" required name="title" formControlName="label">
            <span>Input title</span>
          </label>
          <span class="error" *ngIf="labelControl.touched && labelControl.invalid">This field is required</span>
        </p>

        <p>
          <label>
            <select  required name="destination" formControlName="destination" (change)="onDestinationChange()">
              <option *ngFor="let option of destinationOptions" [value]="option.value">{{option.label}}</option>
            </select>
            <span>Destination</span>
          </label>
          <span class="error" *ngIf="destinationControl.touched && destinationControl.invalid">This field is required</span>
        </p>
      </div>

      <app-builder-config-popin-destination-id *ngIf="destinationControl.value == 'id'"
                                                    [form]="customGroup"
                                                    [field]="field">
      </app-builder-config-popin-destination-id>

      <app-builder-config-popin-destination-version *ngIf="destinationControl.value == 'version'"
                                                    [form]="customGroup"
                                                    [field]="field">
      </app-builder-config-popin-destination-version>

      <app-builder-config-popin-destination-docker-compose *ngIf="destinationControl.value == 'compose'"
                                                           [form]="customGroup"
                                                           [field]="field">
      </app-builder-config-popin-destination-docker-compose>

      <app-builder-config-popin-destination-volumes *ngIf="destinationControl.value == 'volumes'"
                                                    [form]="customGroup"
                                                    [field]="field">
      </app-builder-config-popin-destination-volumes>

      <app-builder-config-popin-destination-ports *ngIf="destinationControl.value == 'ports'"
                                                  [form]="customGroup"
                                                  [field]="field">
      </app-builder-config-popin-destination-ports>

      <app-builder-config-popin-destination-environments *ngIf="destinationControl.value == 'environments'"
                                                         [form]="customGroup"
                                                         [field]="field">
      </app-builder-config-popin-destination-environments>

      <button class="save-button" [disabled]="formGroup.invalid">Save</button>
    </form>
  </div>
</div>
