:host {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.popin {
  width: 100%;
  max-width: 550px;
  background: #fff;
  border-radius: 25px;
  min-height: 60px;
  border: solid 1px #707070;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 100;
}

.header {
  .title {
    display: inline-block;
    width: calc(100% - 32px);
    box-sizing: border-box;
    text-align: center;
    padding-left: 32px;
    margin-bottom: 0;
  }

  fa-icon {
    cursor: pointer;
    display: inline-block;
  }
}

.body {
  padding: 0 16px;
  box-sizing: border-box;
}


form {
  margin-top: 20px;
  .general {
    display: flex;
    label{
      position: relative;
      width: calc(100%);
      span,input{
        font-size: 1em;
      }
      span{
        position: absolute;
        pointer-events: none;
        left: 10px;
        top: 0;
        transition: all ease .2s;
        background: #fff;
        padding: 0;
      }

      select{
        width: 100%;
        box-sizing: border-box;
        line-height: 50px;
        height: 50px;
      }

      input {
        height: 50px;
        line-height: 50px;
        width: 100%;
        border-radius: 4px;
        border: solid 1px #919191;
        background-color: #fefefe;
        padding: 0 15px;
        box-sizing: border-box;
      }

      input, select{
        &:focus,&:valid{
          outline: none;
          border-color: #474747;
          &+span{
            top: -28px;
            font-size: 0.9em;
            padding: 5px;
          }
        }
      }

    }
    & > * {
      width: calc(50% - 20px);
      margin: 0 10px;
    }
  }
  .save-button{
    color: #fff;
    border-radius: 16px;
    background-color: #ff9900;
    height: 40px;
    margin: 20px 10px;
    padding: 0 20px;
    border: none;
    cursor: pointer;
  }
}

