<form [formGroup]="form">
  <div class="general">
    <label>
      <input required type="text" name="command" formControlName="base">
      <span>Port inside container</span>
    </label>
    <span *ngIf="baseControl.touched && baseControl.invalid">This field is invalid</span>


    <label>
      <input required type="text" name="value" formControlName="value">
      <span>Port on host</span>
    </label>
    <span *ngIf="valueControl.touched && valueControl.invalid">This field is invalid</span>
  </div>
</form>
