<app-builder-steps stepNumber="2"></app-builder-steps>

<div class="search-block">
  <p>You have chosen</p>
  <div class="choose-block">
    <div class="container-choosen">
      <div class="logo"><img [src]="logoUrl" alt=""></div>
      <p class="name">{{imageName}}:{{tag}}</p>
    </div>
    <div class="cancel-zone">
      <app-button class="align__left" specials="true" icons="close"
                  type="cta cta__small outlined__grey with__shadow cancel_button" size="large"
                  (click)="goBack()">< Choose another image
      </app-button>
    </div>
  </div>
  <p>Now it's time to make your configuration !</p>
</div>

<div class="form-and-preview">
  <div class="config">
    <div class="form">
      <app-builder-form [groups]="groups" (groupsChange)="updateGroup($event)"
                        (addAction)="openAddPopIn($event)"
                        (editAction)="openEditPopIn($event)"
                        (removeAction)="removeField($event)"
      ></app-builder-form>
      <div class="actions">
        <app-button class="align__left" type="cta cta__small gradient__red with__shadow" size="large" (click)="addGroup()">
          Add a group
        </app-button>
        <app-button class="align__right" type="cta cta__small gradient__cyan with__shadow" size="large" (click)="handleNext()">
          Validate
        </app-button>
      </div>
    </div>

    <div class="preview">
      <app-builder-preview [config]="groups" [image]="imageName"></app-builder-preview>
    </div>
  </div>
</div>

<app-builder-config-popin *ngIf="isPopinActive" (closeEvent)="hidePopIn()" (submitEvent)="addField($event)" [field]="popinField">
</app-builder-config-popin>
