.search-block {
  margin: 0 auto;
  text-align: center;

  * {
    display: inline-block;
    vertical-align: top;
  }

  p {
    font-size: 1.2em;
    color: #636363;
  }

  input {
    width: 100%;
    max-width: 450px;
    font-size: 1.4em;
    text-align: center;
    border: none;
    color: #636363;
    border-bottom: solid 1px #636363;
    outline: none;
  }
.choose-block{

    .container-choosen{
      height: 60px;
      background: #fff;
      background-image: linear-gradient(112deg, #8a2387, #e94057 56%, #f27121);
      border-radius: 30px;
      min-width: 150px;
      margin: 0 15px;
      *{
        display: inline-block;
        vertical-align: top;
      }
      .logo{
        width: 50px;
        height: 50px;
        margin: 5px;
        border-radius: 50%;
        background: #fff;
        position: relative;
        float: left;
        img{
          display: block;
          width: 80%;
          height: auto;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
        }
      }
      .name{
        color: #fff;
        font-size: 1rem;
        line-height: 60px;
        margin: 0 20px 0 10px;
      }
    }
  }

  .cancel-zone{
    display: block;
    margin-top: 5px;
  }
}


@import "../../../../../assets/style/media-query";

:host {
  .form-and-preview {
    display: inline-block;
    vertical-align: top;
    width: 75%;
    margin-left: calc(12.5% - 140px);
    font-family: 'Open Sans', sans-serif;
    margin-top: 50px;

    @include MQ(S) {
      width: 92%;
      margin-left: 4%;
    }
  }

  .config {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .header {
    width: 100%;
    text-align: center;
    white-space: nowrap;

    span {
      width: 75px;
      height: 75px;
      display: block;
      border-radius: 100%;
      margin: 15px auto 0;
      background: #ffffff;
      border: solid 1px #707070;
      position: relative;
      z-index: 20;

      img {
        width: 100%;
        max-width: 45px;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translateY(-50%) translateX(-50%);
        transform: translateY(-50%) translateX(-50%);

        @include MQ(L) {
          font-size: 1.4em;
        }
      }
    }

    h1 {
      display: inline-block;
      vertical-align: middle;
      margin-left: 1vw;
      font-weight: 300;

      @include MQ(L) {
        font-size: 1.4em;
      }
    }
  }

  .form {
    width: 50%;

    @include MQ(L) {
      width: 95% !important;
      margin: auto;
    }

    @include MQ(1200px) {
      width: 100%;
    }

    @include MQ(1400px) {
      width: 100%;
    }

  }

  .preview {
    width: 45%;
    margin-left: 5%;

    @include MQ(1400px) {
      width: 100%;
      margin-left: 0;
    }

    @include MQ(S) {
      width: 96%;
      margin-left: 2%;
    }
  }
}
.actions{
  margin-bottom: 30px;
}
