<app-builder-steps stepNumber="2"></app-builder-steps>
<div class="search-block">
  <p>You have choose</p>
  <div class="choose-block">
    <div class="container-choosen">
      <div class="logo"><img src="{{logoUrl}}" alt=""></div>
      <p class="name">{{imageName}}:{{tag}}</p>
    </div>
    <div class="cancel-zone">
      <app-button class="align__left" specials="true" icons="close" type="cta cta__small outlined__grey with__shadow cancel_button" size="large"><  Change my base image</app-button>
    </div>
  </div>
  <p>Time to make your configuration</p>

</div>
