<form [formGroup]="form">
  <div class="general">
    <label class="basic-input">
      <input required type="text" name="command" formControlName="base">
      <span>Docker compose command</span>
    </label>

    <label class="basic-input">
      <input required type="text" name="value" formControlName="value">
      <span>Default value</span>
    </label>
    <label class="checkbox-input">

      <input type="checkbox" name="hidden"
             [formControl]="hiddenControl"
             [checked]="form.get('type').value === 'hidden'"
             (change)="checkValue()" >
      <span>Is hidden ?</span>
    </label>
  </div>


</form>
