<form [formGroup]="form">
  <div class="general">
    <div>
      <label class="basic-input">
        <input required type="text" name="command" formControlName="base">
        <p>Docker compose command</p>
      </label>
      <span *ngIf="baseControl.touched && baseControl.invalid">This value is not allowed</span>
    </div>

    <div>
      <label class="basic-input">
        <input required type="text" name="value" formControlName="value">
        <p>Default value</p>
      </label>
      <span *ngIf="valueControl.touched && valueControl.invalid">This field is invalid</span>
    </div>

    <div>
      <label class="checkbox-input">
        <span [ngClass]="{'custom-checkbox': true, 'checked': form.get('type').value === 'hidden' }">
          <fa-icon [icon]="form.get('type').value === 'hidden' ? faCheck : ''"></fa-icon>
        </span>

        <input type="checkbox" name="hidden"
               [formControl]="hiddenControl"
               [checked]="form.get('type').value === 'hidden'"
               (change)="checkValue()" >
        <span>Is hidden ?</span>
      </label>
    </div>
  </div>


</form>
