@import "../popin-custom-form";
:host{
  margin-top: 20px;
  display: block;
}
form {
  .general {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    div{
      flex: 1 0 45%;
      position: relative;
      max-width: 50%;
      label{
        p,input{
          font-size: 1em;
        }

        &.basic-input{
          p{
            position: absolute;
            pointer-events: none;
            left: 10px;
            top: 14px;
            transition: all ease .2s;
            background: #fff;
            padding: 0;
            margin: 0;
          }

          select{
            width: 100%;
            box-sizing: border-box;
            line-height: 50px;
            height: 50px;
          }

          input {
            height: 50px;
            line-height: 50px;
            width: 100%;
            border-radius: 4px;
            border: solid 1px #919191;
            background-color: #fefefe;
            padding: 0 15px;
            box-sizing: border-box;
          }

          input, select{
            &:focus,&:valid{
              outline: none;
              border-color: #474747;
              &+p{
                top: -16px;
                font-size: 0.9em;
                padding: 5px;
              }
            }
          }
        }

        &.checkbox-input{
          margin-top: 20px;
          margin-left: 5px;
          display: block;
          cursor: pointer;
          .custom-checkbox{
            margin-right: 10px;
            width: 20px;
            height: 20px;
            display: inline-block;
            border: solid 1px #474747;
            border-radius: 4px;
            fa-icon{
              width: 20px;
              height: 20px;
              display: block;
              margin: 0;
              padding: 0;
              text-align: center;
              line-height: 20px;
            }

            &.checked{
              background: #ff9900;
              fa-icon{
                color: #ffffff;
              }
            }
          }

          input[type="checkbox"]{
            display: none;
          }

        }

      }
    }
    & > * {
      margin: 0 10px;
    }
  }
}
