@import "../../../../../assets/style/media-query";

.search-block {

    * {
        display: inline-block;
        vertical-align: middle;
    }

    label {
        margin-top: 24px;
        font-size: 1.5em;
        color: #636363;
        margin-right: 3%;
    }

    input {
        width: 100%;
        background: 0 0;
        text-align: center;
        font-size: 20px;
        line-height: 40px;
        border: 1px solid #d6d6d6;
        border-radius: 30px;
        outline: 0;
        display: block;
        max-width: 475px;
        margin: 0 auto 20px;
        font-weight: 300;
    }
}

.list {
    display: flex;
    flex-wrap: wrap;
    max-width: calc(170px * 5);
    justify-content: center;
    margin: 0 auto;
    width: 80%;

    &.small {
        justify-content: center;
    }

    > * {
        width: 170px;
    }
}

app-button {
    margin-left: 15px;
}

@include MQ(950px) {
    .search-block {
        * {
            display: block;
        }

        p {
            text-align: center;
        }

        input {
            margin: 0 auto;
        }
    }
}

.box {
    background-color: #fff;
    color: #000;
    border: 2px solid black;
    padding: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    max-width: 200px;

    &:hover {
        transform: translateY(-5px);
        border-image-source: linear-gradient(108deg, #8a2387, #e94057 56%, #f27121);
        border-image-slice: 1;
        border-width: 2px;
    }

}

.wrapper {
    width: calc(100%);
    display: grid;
    padding: 0px 100px;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
