button {
    border: none;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    outline: none;
    transition: all .15s ease-in-out;
}

.cta{
  &.cta__primary{
    color: #fff;
    background: #FFFFFF;
    color: #000;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Open Sans';
    line-height: 60px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    padding: 0 60px;
  }

  &.cta__secondary{
    color: #fff;
    background: #FFFFFF;
    color: #000;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Open Sans';
    line-height: 40px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    padding: 0 60px;
  }

}


  /*
    --------- COLORS ----------
   */
.cta__primary, .cta__secondary, .cta__thridly{
  &.gradient__red{
    background-image: linear-gradient(108deg, #8a2387, #e94057 56%, #f27121);
    color: #fff;
  }
  &.gradient__blue{
    background-image: linear-gradient(108deg, #8a2387, #e94057 56%, #f27121);
    color: #fff;
  }
  &.outlined__grey{
    border:solid 1px #ebebeb;
  }
  &.with__shadow{
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.05);
  }
}


/*
  ------------- SPECIALS -----------
 */

.cta{
  .specials{
    .icon__hover__left{

    }
  }
}


/*
  ------------ ICONS ------------
 */

.cta{
  .icon{
    .close{

    }
  }
}

  /*
    --------- ALIGNMENTS ----------
   */

:host(.align__center){
  display: block;
  margin: 0 auto;
  text-align: center;
}

:host(.align__left){
  display: inline-block;
}


:host(.margin-top__large){
  margin-top: 70px;
}

