@import "../../../../../assets/style/media-query";


.home-bg-art {
    height: 90vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;

    svg{
      height: 100%;
      width: auto;
      display: block;
    }
}

.home-titles {
  text-transform: uppercase;
  color:#494949;
    .title {
        font-family: 'Open Sans', sans-serif;
        font-size: 4.750rem;
        font-weight: 600;
        margin: 0;
    }

    .subtitle {
        font-family: 'Open Sans', sans-serif;
        font-size: 3.063rem;
        font-weight: 100;
        margin: 0;
    }
}


.row {

    .column {
        display: inline-block;
        position: relative;
      &.column_right{
        right: 0;
        max-width: 50%;
        position: absolute;
        top: 40%;
        right: 5%;
        display: block;

      }
    }
}


@include MQ($XL){
  .row{
    .column {
      &.column_right {
        right: 10%;
      }
    }
  }
  .home-titles{
    .title{
      font-size: 4rem;
    }
    .subtitle{
      font-size: 2.5rem;
    }
  }
}

@include MQ(1450px){
  .row{
    .column {
      &.column_right {
        right: 5%;
      }
    }
  }
  .home-titles{
    .title{
      font-size: 3.5rem;
    }
    .subtitle{
      font-size: 2rem;
    }
  }

  .home-bg-art{
    width: 64vw;
    height: auto;
    svg{
      width: 100%;
      height: auto;
    }
  }
}

@include MQ(1200px){
  .row{
    .column {
      &.column_right {
        right: 5%;
      }
    }
  }
  .home-titles{
    .title{
      font-size: 3rem;
    }
    .subtitle{
      font-size: 1.5rem;
    }
  }
}



